@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	margin: 0 auto;
	font-family: "Nanum Gothic";
	font-weight: 400;
}
*:focus {
	outline: 0;
}
.sunsoo-web-wrapper {
	position: relative;
	min-width: 980px;
	min-height: 100%;
	margin: 0 auto;
}
.sunsoo-web-contents {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.sunsoo-web-event-intro {
	position: relative;
	height: 696px;
	line-height: 0px;
	background: url("../images/bgWebEventIntro.png") no-repeat 0 0;
}
.sunsoo-web-event1 {
	position: relative;
	height: 1290px;
	line-height: 0px;
	background: url("../images/bgWebEvent1.png") no-repeat 0 0;
}
.sunsoo-web-event2 {
	position: relative;
	height: 568px;
	line-height: 0px;
	background: url("../images/bgWebEvent2.png") no-repeat 0 0;
}
.sunsoo-web-event-share {
	position: relative;
	height: 117px;
	line-height: 0px;
	background: url("../images/bgWebEventShare.png") no-repeat 0 0;
}
.sunsoo-web-event-btn1-scroll {
	position: absolute;
	left: 177px;
	top: 636px;
	cursor: pointer;
}
#sunsoo-web-scroll1 {
	cursor: pointer;
}
.sunsoo-web-event-btn2-scroll {
	position: absolute;
	left: 509px;
	top: 636px;
	cursor: pointer;
}
#sunsoo-web-scroll2 {
	cursor: pointer;
}
.sunsoo-web-event-btn1-check {
	position: absolute;
	left: 262px; 
	top:  526px;
}
.sunsoo-web-event-btn2-check {
	position: absolute;
	left: 362px; 
	top:  459px;
}
.event_phone {
	position: absolute;
	left: 500px;
	right:40px;
	top: 670px;
	width: 350px;
	height: 35px;
	background-color: transparent;
	text-align: center;
	color: #24a4a3;
	font-size: 1.0em;
	border: none;
	z-index: 1000;
}

.event_phone::-webkit-input-placeholder {
	color: #24a4a3;
	opacity: 1 !important;
}
.event_phone:-moz-placeholder {
	color: #24a4a3;
	opacity: 1 !important;
}
.event_phone::-moz-placeholder {
	color: #24a4a3;
	opacity: 1 !important;
}
.event_phone:-ms-input-placeholder {
	color: #24a4a3;
	opacity: 1 !important;
}
.sunsoo-web-event-code {
	position: absolute;
	left: 142px;
	top: 463px;
	width: 220px;
	height: 50px;
	padding: 0;
	background-color: transparent;
	text-align: center;
	color: #4d3524;
	font-size: 1.0em;
	border: none;
	z-index: 1000;
}
.sunsoo-web-event-phone {
	position: absolute;
	left: 350px;
	top: 152px;
	width: 220px;
	height: 50px;
	padding: 0;
	background-color: transparent;
	text-align: center;
	color: #4d3524;
	font-size: 0.8em;
	border: none;
	z-index: 1000;
}
.non-agree{
	position: absolute;
	left: 401px;
	top: 263px;
}
.agree{
	position: absolute;
	left: 464px;
	top: 263px;
}
.sunsoo-web-event-name{
	position: absolute;
	left: 60px;
	top: 152px;
	width: 220px;
	height: 50px;
	padding: 0;
	background-color: transparent;
	text-align: center;
	color: #4d3524;
	font-size: 0.8em;
	border: none;
	z-index: 1000;
}
.sunsoo-web-event-code::-webkit-input-placeholder {
	color: #4d3524;
	opacity: 0.60 !important;
}
.sunsoo-web-event-code:-moz-placeholder {
	color: #4d3524;
	opacity: 0.60 !important;
}
.sunsoo-web-event-code::-moz-placeholder {
	color: #4d3524;
	opacity: 0.60 !important;
}
.sunsoo-web-event-code:-ms-input-placeholder {
	color: #4d3524;
	opacity: 0.60 !important;
}

/* regarding step1~3 */
.sunsoo-step ul {
	list-style: none;
}
#sunsoo-step1-div {
	display: block;
}
#sunsoo-step2-div {
	display: none;
}
#sunsoo-step3-div {
	display: none;
}
#sunsoo-step1-ul {
	position: absolute;
	top: 150px;
	left: 40px;
	height: 388px;
}
.sunsoo-step1-li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#sunsoo-step1-li-0 {
	display: block;
}
#btn-step1-left {
	position: absolute;
	top: 330px;
	left: 70px;
	cursor: pointer;
	display: none;
}
#btn-step1-right {
	position: absolute;
	top: 330px;
	left: 290px;
	cursor: pointer;
}
#sunsoo-step2-ul {
	position: absolute;
	top: 150px;
	left: 340px;
	height: 388px;
}
.sunsoo-step2-li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#sunsoo-step2-li-0 {
	display: block;
}
#btn-step2-left {
	position: absolute;
	top: 330px;
	left: 365px;
	cursor: pointer;
	display: none;
}
#btn-step2-right {
	position: absolute;
	top: 330px;
	left: 585px;
	cursor: pointer;
}
#sunsoo-step3-ul {
	position: absolute;
	top: 150px;
	left: 640px;
	height: 388px;
}
.sunsoo-step3-li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#sunsoo-step3-li-0 {
	display: block;
}
#btn-step3-left {
	position: absolute;
	top: 330px;
	left: 670px;
	cursor: pointer;
	display: none;
}
#btn-step3-right {
	position: absolute;
	top: 330px;
	left: 890px;
	cursor: pointer;
}
.ss-layer-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}
.ss-layer-popup2 {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	
}
#ss-layer-popup-recipe {
	position: absolute;
	width: 581px;
	height: 569px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
#ss-layer-popup2-confirm {
	position: absolute;
	width: 180px;
	height: 52px;
	bottom: 53px;
	left: 190px;
	cursor: pointer;
}
.ss-layer-popup-common {
	position: fixed;
	margin: auto;
	width: 100%;
	height: 50%;
	top: 25%;
	text-align: center;
	z-index: 1200;
	display: none;
}
.ss-recipe-close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.ss-info-close {
	background: url("../images/btnWebEvent1Close.png") no-repeat;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 12px;
	right: 12px;
	cursor: pointer;
}
.ss-info2-close {
	background: url("../images/btnWebEvent2Close.png") no-repeat;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 12px;
	right: 12px;
	cursor: pointer;
}
.ss-recipe-close2 {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.ss-recipe-confirm {
	position: absolute;
	width: 180px;
	height: 52px;
	bottom: 36px;
	left: 201px;
	cursor: pointer;
}
#ss-layer-popup2-recipe{
	position: absolute;
	width: 581px;
	height: 569px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
.ss-recipe-confirm2{
	position: absolute;
	width: 180px;
	height: 52px;
	bottom: -10px;
	left: 230px;
	cursor: pointer;
	
}
.recipe11 { background: url("../images/webRecipe11.png") no-repeat 0 0; }
.recipe12 { background: url("../images/webRecipe12.png") no-repeat 0 0; }
.recipe13 { background: url("../images/webRecipe13.png") no-repeat 0 0; }
.recipe14 { background: url("../images/webRecipe14.png") no-repeat 0 0; }
.recipe15 { background: url("../images/webRecipe15.png") no-repeat 0 0; }
.recipe16 { background: url("../images/webRecipe16.png") no-repeat 0 0; }
.recipe17 { background: url("../images/webRecipe17.png") no-repeat 0 0; }
.recipe21 { background: url("../images/webRecipe21.png") no-repeat 0 0; }
.recipe22 { background: url("../images/webRecipe22.png") no-repeat 0 0; }
.recipe23 { background: url("../images/webRecipe23.png") no-repeat 0 0; }
.recipe31 { background: url("../images/webRecipe31.png") no-repeat 0 0; }
.recipe32 { background: url("../images/webRecipe32.png") no-repeat 0 0; }
.recipe33 { background: url("../images/webRecipe33.png") no-repeat 0 0; }
.recipe34 { background: url("../images/webRecipe34.png") no-repeat 0 0; }
.recipe35 { background: url("../images/webRecipe35.png") no-repeat 0 0; }
.recipe36 { background: url("../images/webRecipe36.png") no-repeat 0 0; }
.ss-share-fb {
	
}
.ss-share-tw {
	
}
.ss-share-ks {
	
}
#ss-layer-popup-info {
	background: url("../images/bgWebEvent1Popup.png") no-repeat;
	position: absolute;
	width: 607px;
	height: 579px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
#ss-layer-popup-info2 {
	background: url("../images/bgWebEvent2Popup.png") no-repeat;
	position: absolute;
	width: 607px;
	height: 579px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
.collect-agree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 402px;
	top: 247px;
	cursor: pointer;
}
.collect-disagree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 464px;
	top: 247px;
	cursor: pointer;
}
.bridge-agree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 402px;
	top: 378px;
	cursor: pointer;
}
.bridge-disagree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 464px;
	top: 378px;
	cursor: pointer;
}
.collect-agree-img {
	display: none;
}
.collect-disagree-img {
	display: none;
}
.bridge-agree-img {
	display: none;
}
.bridge-disagree-img {
	display: none;
}
.collect2-agree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 402px;
	top: 247px;
	cursor: pointer;
}
.collect2-disagree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 464px;
	top: 247px;
	cursor: pointer;
}
.bridge2-agree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 402px;
	top: 378px;
	cursor: pointer;
}
.bridge2-disagree {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 464px;
	top: 378px;
	cursor: pointer;
}
.collect2-agree-img {
	display: none;
}
.collect2-disagree-img {
	display: none;
}
.bridge2-agree-img {
	display: none;
}
.bridge2-disagree-img {
	display: none;
}
.ss-info-confirm {
	position: absolute;
	width: 141px;
	height: 47px;
	left: 233px;
	bottom: 22px;
	cursor: pointer;
}
.ss-info2-confirm {
	position: absolute;
	width: 165px;
	height: 47px;
	left: 221px;
	bottom: 22px;
	cursor: pointer;
}
