<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsoo.cjevent.persistence.EventCashManageMapper">
    <select id="getCashCount" parameterType="EventCashManage" resultType="int">
    SELECT COUNT(*)
    FROM
    	SS_EVENT_CASH_MANAGE
	WHERE
		CASH_TYPE = #{cash_type}
    </select>
    
    <select id="getUserCount" parameterType="EventCashManage" resultType="int">
    SELECT COUNT(*)
    FROM
    	SS_EVENT_CASH_MANAGE
	WHERE
		REMOTE_PHONE = #{remote_phone}
    </select>
    
    <insert id="insertCashManage" parameterType="EventCashManage">
    INSERT INTO SS_EVENT_CASH_MANGE(REMOTE_PHONE, CASH_TYPE)
    VALUES (#{remote_phone}, #{cash_type})
    
    </insert>
</mapper>